@layer base {
  :root {
    /* Background Colors */
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #232323;
    --color-bg-dark: #151515;

    /* Text Colors */
    --color-text-primary: #151515;
    --color-text-secondary: #FFA500;
    --color-text-muted: #4F4D4D;
    --color-text-white: #ffffff;

    /* Brand / Primary Colors */
    --color-primary: #FFA500;
    

    /* Border Colors */
    --color-border-primary: #ECECEC;
    --color-border-secondary: #ffedcc;
  }
}